NEXT_PUBLIC_BASE_URL=http://localhost:8000
BASE_SERVER_URL=http://127.0.0.1:8000
# Without trailing slash - NEXT_PUBLIC_MEDIA_HOST
NEXT_PUBLIC_MEDIA_HOST=http://localhost:8000

NEXT_PUBLIC_BASE_URL_V1=http://localhost:8000
BASE_SERVER_URL_V1=http://127.0.0.1:8000

NEXT_PUBLIC_WEBAPP_URL=http://localhost:3000
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_DOMAIN=localhost:3000

NEXT_PUBLIC_ROUTER_URL=
NEXT_PUBLIC_COOKIE_PATH=/

NEXT_PUBLIC_PROJECT_NAME=admin_panel
NEXT_PUBLIC_ENABLE_COOKIE_SECURE=false
PORT=3000

# Videos Security Policy
CSP_POLICY=

# Telemetry
NEXT_TELEMETRY_DEBUG=0

# Company info
NEXT_PUBLIC_COMPANY_NAME = "Company name"
NEXT_PUBLIC_SITE_NAME = "Site name"
